{% extends "base.html" %}

{% block title %}图书列表{% endblock %}

{% block head %}<h3>图书列表</h3>{% endblock %}
{% block content %}
<a href="/books/search/">搜索</a>
<table border="1">
	<thead>
		<td>标题</td>
		<td>作者</td>
		<td>出版商</td>
		<td>出版时间</td>
	</thead>
	{% for book in books %}
	<tr>
		<td>{{book.title}}</td>
		<td>
			{% if book.authors %}
				<span>
					{% for a in book.authors.all %}
						{{ a.first_name}}&nbsp;{{ a.last_name }}
						{% if not forloop.last %}
							,
						{% endif %}
					{% endfor %}
				</span>
			{% else %}
				{{book.authors}}
			{% endif %}
		</td>
		<td>{{book.publisher}}</td>
		<td>{{book.publication_date}}</td>
	</tr>
	{% endfor %}
</table>
<hr/>
<h3>header信息</h3>
<table border="1">
	<thead>
		<td>序号</td>
		<td>属性名称</td>
		<td>属性值</td>
	</thead>

	{% for k,v in header_dv %}
	<tr>
		<td>
			{{ forloop.counter }}
		</td>
		<td>
			{{ k }}
		</td>
		<td>
			{{ v }}
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
